
## <summary>policy for free</summary>


########################################
## <summary>
##	Transition to free.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`free_domtrans',`
	gen_require(`
		type free_t, free_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, free_exec_t, free_t)
')


########################################
## <summary>
##	Execute free server in the free domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`free_initrc_domtrans',`
	gen_require(`
		type free_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, free_initrc_exec_t)
')


########################################
## <summary>
##	Search free lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`free_search_lib',`
	gen_require(`
		type free_var_lib_t;
	')

	allow $1 free_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read free lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`free_read_lib_files',`
	gen_require(`
		type free_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, free_var_lib_t, free_var_lib_t)
')

########################################
## <summary>
##	Manage free lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`free_manage_lib_files',`
	gen_require(`
		type free_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, free_var_lib_t, free_var_lib_t)
')

########################################
## <summary>
##	Manage free lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`free_manage_lib_dirs',`
	gen_require(`
		type free_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, free_var_lib_t, free_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a free environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`free_admin',`
	gen_require(`
		type free_t;
		type free_initrc_exec_t;
		type free_var_lib_t;
	')

	allow $1 free_t:process { ptrace signal_perms };
	ps_process_pattern($1, free_t)

	free_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 free_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, free_var_lib_t)

')

